.button {
	display: inline-block;
	box-sizing: border-box;

	border-radius: 5px;
	padding: 10px;
	text-align: center;

	font-size: 14px;
	line-height: 14px;

	border: none;
	cursor: pointer;
	transition: all 0.3s;

}

.primary {
	color: var(--white);
	background-color: var(--primary);
	border: none;
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	background-color: var(--white);
	border: 1px solid var(--grey);
}

.ghost:hover {
	background-color: var(--primary);
	color: var(--white);
}